body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bookingForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

label {
    display: flex;
    flex-direction: column;
}

.hori {
    display: flex;
    flex-direction: row;
}

#featuresContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#featuresContainer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#featuresContainer h3 {
    margin: 0 0 10px 0;
    text-align: center;
}

#featuresContainer label {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;
}

.date {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid transparent;
}

.date.booked {
    background-color: #ffb3ba;
}

.date.selected {
    border: 3px solid black;
}
.dullDate {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: transparent;
    border: 3px solid transparent;
}
.dayDate {
    height: 40px;
    width: 40px;
    margin: 5px;
    background-color: transparent;
}

.calendarBorder {
    border: 3px solid palevioletred;
}